/* 
   CSS Guide 

   0.  Web font 
   1.  General Styles
   2.  Main header
   3.  Main Hero
   4.  Video
   5.  About us
   6.  Our story
   7.  Product content
   8.  Promo con
   9.  Closing
   10. Footer
   11. Story page 
   12. Tablet Queries
   13. Desktop Queries 
 */


 /* 0.  Web font -- */


 @font-face {
   font-family: 'fino_sansbold_italic';
   src: url('../font/fino_sans_bold_italic-webfont.woff2') format('woff2'),
      url('../font/fino_sans_bold_italic-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}




@font-face {
   font-family: 'fino_sansbold';
   src: url('../font/fino_sans_bold-webfont.woff2') format('woff2'),
      url('../font/fino_sans_bold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}




@font-face {
   font-family: 'fino_sansitalic';
   src: url('../font/fino_sans_italic-webfont.woff2') format('woff2'),
      url('../font/fino_sans_italic-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}




@font-face {
   font-family: 'fino_sans_titlebold';
   src: url('fino_sans_title_bold-webfont.woff2') format('woff2'),
      url('fino_sans_title_bold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}




@font-face {
   font-family: 'fino_sansregular';
   src: url('../font/fino_sans_regular-webfont.woff2') format('woff2'),
      url('../font/fino_sans_regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}





 /* 1. ---General Styles--- */

html {
   font-size: 100%;
}

body {
   font-family: 'fino_sansregular', Helvetica, sans-serif;
   font-size: 1.25rem;
   color: #110F3D;
   background-color: #fff;
}
/* 
.container {
   overflow: hidden;
} */

.hidden {display: none;}

.btn {
   background-color: #fff;
   border: none !important;
   border-radius: 0.9375rem;
   padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
   font-family: 'fino_sansregular', Arial, Helvetica, sans-serif;
   font-size: 1.125rem;
}

.btn:hover {
   box-shadow: inset 0 -5rem 0 #110F3D;
   color: #fff;
   transition: all .6s ease-in-out;
}

/* 2. ---Main header Nav--- */

html {
   font-size: 100%;
}


header {
   background-color: #ffffff;
   height: 3.75rem;
   position: sticky;
}

#main-nav{
   height: 3.75rem;
   position: absolute;
   z-index: 1;
}

#main-logo{
   position: absolute;
   z-index: 100;
   width: 6.25rem;
   height: 4.8125rem;
   display: grid;
   grid-row: 2/3;
   justify-self: center;

   margin-top: 1.25rem;
   margin-left: 3rem;
}

#main-logo:hover {
   transform: scale(1.1);
   transition: all 0.3s ease-in-out;
}


#main-nav button {
   width: 1.25rem;
   height: 1.25rem;
   background: url(../images/burger-icon.svg) no-repeat center;
   margin-top: 0.9375rem;
   margin-bottom: 1.25rem;
   transition: all .5s ease;
   border: 0;
   grid-column: 3/4;
   margin: auto;
   margin-right: 1.25rem;

   height: 2.1875rem;
   width: 2.1875rem;
}


#main-nav button.expanded {
   transform: rotate(90deg);
   z-index: 100;
}

#burger-con {
   display: none;
}

#burger-con.slide-toggle {
   display: block;

   height: 100vh;
   width: 100vw;
   background-color: #110F3D;
   position: absolute;
   z-index: 10;
   top: 0;
   left: 0;
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 9.375rem 0 0 0;
}

#main-nav ul li a {
   display: block;
   padding: 0.625rem 0 0.625rem 0;

   margin-bottom: 1.25rem;
   margin-right: 3rem;
   text-align: right;
   color: #ffffff;
   font-size: 1.625rem;

   text-decoration: none;
}

#main-nav ul li a:hover {
   color: #F7B92E;
   transition: all .3s ease-in;
}

#main-nav ul li:last-child {
   margin-bottom: 0.625rem;
}



/* 3. ---Main hero--- */


#hero-img1 {
   object-fit: cover;
   padding: 0;
   margin: 0;
   z-index: -1;
   grid-column: 1/-1;
   height: 22.5rem;
}

#hero-img2 {
   object-fit: cover;
   padding: 0;
   margin: 0;
   z-index: -1;
   grid-column: 1/-1;
   height: 22.5rem;
}

#hero-text {
   height: 14rem;
   background-color: #F7B92E;
   padding: 2.5rem;

   display: flex;
   justify-items: center;
}

#hero-text h4 {
   font-size: 1.875rem;
   text-align: center;

   margin-top: 2.8rem;
}


/* new - for sliding images */

.hero-image {
   display: flex;
   width: 100%;
   height: 100%;
   overflow: hidden;
 }
 
 .left-side {
   flex: 1;
   position: relative;
 }
 
 .left-side img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 .right-side {
 flex: 1;
 position: relative;
 overflow: hidden;
 }
 
 .image-slider {
 position: absolute;
 width: 100%;
 height: 300%;
 top: 0;
 left: 0;
 display: flex;
 flex-direction: column;
 transition: top 1s ease;
 }
 
 .image-slider img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 }

 .dots {
   position: absolute;
   bottom: 1.25rem;
   right: 1.25rem;
   display: flex;
   gap: 0.625rem;
   flex-direction: column;
 }
 
 .dot {
   width: 0.625rem;
   height: 0.625rem;
   border-radius: 50%;
   background-color: #110F3D;
   cursor: pointer;
   opacity: 0.5;
 }
 
 .dot:hover,
 .dot.active {
   opacity: 1;
 }
 

/* 4. ---Video--- */

#vid-playback {
padding: 0;
margin: 3.125rem 0 0 0;
object-fit: cover;
}

#video-text {
   /* height: 7.6875rem; */
   margin-top: 3.125rem;
   margin-bottom: 3.125rem;
   padding: 1.5625rem;

   text-align: center;
   display: inline-flex;
   font-family: Helvetica, sans-serif;
   font-style: italic;
}

.video-playback + #video-text p {
   line-height: 1.5rem;
   margin-bottom: 3rem;
}

/* 5. ---About us--- */

#about-img {
margin-top: 3.75rem;
display: flex;
}

#about-us-t-box {
height: 12.5rem;
margin-top: 3.75rem;
padding-top: 3.125rem;
background-color: #F7B92E;

font-family: Helvetica, sans-serif;
text-align: center;
display: inline-flex;
flex-direction: column;
align-items: center;
}

#about-us-t-box span {
   font-style: italic;
   margin-top: 1.25rem;
   font-size: 1.1rem;
}

#story-button {
   width: 7.5rem;
   margin-top: 1.25rem;
   text-decoration: none;
   color: #110F3D;
}

#story-button:hover {
   box-shadow: inset 0 -5rem 0 #110F3D;
   color: #fff;
   transition: all .6s ease-in-out;
}





/* 6. ---Our story--- */

#text-our-story {
height: 12.5rem;
}

/* 7. ---Product content--- */


#product-text {
   margin-top: 7rem;
   margin-bottom: 5rem;
   padding: 0 1.5625rem 0 1.5625rem;

   text-align: center;
   display: inline-flex;
   flex-direction: column;

   font-size: 1.875rem;
}

#product-text p {
   display: inline-flex;
   flex-direction: column;
   font-weight: 850;
}

#product-text p span {
   font-size: 1.5625rem;
   margin-top: 1.25rem;
   font-weight: 400;
}

/* mobile slider */

.products {
   overflow: hidden;
   grid-column: 1/span2;
}

.arrow {
   border: solid #F7B92E;
   border-width: 0 0.1875rem 0.1875rem 0;
   display: inline-block;
   padding: 0.625rem;
   margin: 0.625rem;
   transform: rotate(-45deg);
   position: relative;
   top: 50vh;
   z-index: +1;
}

.f-left {
   float: left;
   left: 7vw;
}

.f-right {
   float: right;
   right: 7vw;
}

.a-left {
   transform: rotate(135deg);
}

.slider-card {
   width: 90vw;
}

.slider-card {
   background-size: contain;
   background-position: 50% 17vh;
   background-color: #110F3D;
   border-radius: 3.125rem 3.125rem 0 0;
   padding-bottom: 2rem;

   margin: 3vw;
}

.slider-card a {
   background-color: #F7B92E;
   text-decoration: none;
}

.slider-card a:hover {
   box-shadow: inset  0 -3rem 0 #fff;
   color: #110F3D;
   transition: all .5s ease;
}

.prod-desc {
   display: none;
}

.mb-slider {
   display: inline-flex;
   position: relative;
   transition: all 0.5s ease-in-out;
}

.mb-slider h4{

   margin-top: 0;
   color: #fff;
   font-size: 2rem;
   line-height: 95%;
   font-weight: 600;
   text-align: center;
}
.slider span {
   text-align: center;
   color: #fff;
   font-size: 1.5rem;
}

.slider img {
   display: block;
   width: 45vw;
   margin-left: auto;
   margin-right: auto;
}

.slider img:hover {
   transform: scale(1.05);
   transition: all .5s ease-in-out;
}

.mb-slider a {
   width: 20vw;
   display: block;
   padding: 0.3rem 1em;
   color: white;
   margin: 3vh auto ;
   border-radius: 1.25rem;
   font-size: 3vw;
   text-align: center;
   cursor: pointer;
}

.slider a:active {
   filter: brightness(50%);
}

.lb-des {
   display: none;
}

.prod-desc {
   background-color: #ffffff;
   width: 7vw;
   height: 5vw;
   text-align: center;
   padding: 2vw 1vw;
   border-radius: 50%;
   position: absolute;
   top: 12vw;
   left: 20vw;
   color: #e29b01;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.075);
}




/* 8. ---Promo con--- */


#promo {
   background-color: #110F40;

   margin-top: 3.75rem;
   padding-bottom: 1.875rem;

   color: #fff;
} 

#promo-text {
   margin-top: 5rem;

   font-size: 2.3rem;
   font-style: italic;
   font-weight: 500;
   text-align: center;
}

#promo-text h3 {
   margin-bottom: 0.9375rem;
}

.promo-n {
   margin: 2.1875rem;
}

#promo-number {
   justify-self: center;

   text-align: center;
   font-size: 2.5rem;
   color: #d2f9fa;
   font-style: italic;
}
.promo-n span {
   font-size: 1.5rem;
}

#promo-text2 {
   padding: 3rem;
   text-align: center;
   font-family: Helvetica, sans-serif;
   font-weight: 300;
   opacity: 80%;
}

/* 9. ---Closing--- */

#closing {
   margin-bottom: 4.6875rem;
}


#banner-t {
   margin-top: 3.125rem;
   margin-bottom: 3.125rem;

   color: #F7B92E;
   font-style: italic;
   font-size: 1.7rem;

   white-space: nowrap;
   overflow: hidden;
 }

#banner-t p {
   display: inline-block;
   /* animation: marquee 10s linear infinite; */
 }
/*  
 @keyframes marquee {
   0% {
     transform: translateX(0);
   }
   100% {
     transform: translateX(-100%);
   }
 } */
 

#cl-img-2 {
   z-index: 5;
}

#closing-text {
   text-align: center;
   margin-top: 2rem;
   padding: 2.5rem;

   font-size: 1.2rem;
   font-family: Helvetica, sans-serif;
   font-style: italic;
}




/* 10. ---Footer--- */


footer {
   height: 56.25rem;
   background-color:#110F40;
}


#footer-logo {
   width: 10.625rem;

   margin-top: 5rem;
}

#contact-form {
   margin-top: 5rem;
   font-size: 0.625rem;
   text-align: center;
}


#contact-form input {
   width: 14.375rem;
   display: flex;

   border: none;
   border-radius: 0;
   border-bottom: 0.0625rem solid #fff;
   font-style: italic;

   margin-bottom: 1.875rem;
   background-color: #110F40;

   color: #fff;

   padding-bottom: 0.9375rem;
}

#contact-form button {
   margin-left: 8.125rem;
}

#contact-form input:focus {
   outline: none !important;
}

#send_footer {
   border-radius: 2.5rem;
   background-color: #fff;
   align-items: center;
   font-family: 'Fino sans', Arial, Helvetica, sans-serif;
   font-style: italic;

   cursor: pointer;
   padding: 0.625rem;
   padding-left: 1.25rem;
   padding-right: 1.25rem;

   border: none !important;
}


#send_footer:hover {
   box-shadow: inset 0rem -3.125rem 0rem 0rem #FFC738;
   transition:all .8s ease;
}

#send_footer span {
   color: #110F40;
   margin: 0.625rem;
}

#info-con {
   color: #fff;
   grid-column: 2/5;
   margin-left: 0.625rem;
}

#info-con h3 {
   font-weight: 700;
   font-style: normal;
   margin-top: 2.5rem;
   margin-bottom: 1.875rem;
}

#info-con span {
   display: block;
   margin-bottom: 0.625rem;
}

#sm-icons {
   display: flex;
   height: 1.5625rem;

   grid-column: 2/4;
   margin-left: 0.625rem;
}

#sm-icons img {
   margin-right: 0.625rem;
}



 /* 11.  Story page -- */

.title {
   text-align: center;
   font-size: 2rem;
   font-weight: 900;

   margin-top: 3rem;
   margin-bottom: 3rem;
}

#st-hero-t {
   text-align: center;
   color: #78150D;
   margin-bottom: 2rem;
}

.story {
   font-family: Helvetica, sans-serif;
   font-size: 1rem;
   line-height: normal;

   padding: 2rem;
}

.story h4 {
   font-size: 1.4rem;
   margin-bottom: 1rem;
   font-weight: 600;
}

.cl-t {
   color: #78150D;
   font-size: 2rem;
   text-align: center;
   margin-top: 3rem;
   margin-bottom: 3rem;


}

#st-3 {
   background-image: url(../images/bkg-y.png);
   background-repeat: no-repeat;
   background-size: cover;

   background-blend-mode: overlay;

}

/* 404 page styling */

#error-page {
   background-color: #830000;
   display: grid;
   color: rgba(255, 255, 255, 0.633);
   font-family: Helvetica, sans-serif;
   grid-column: 1/-1;
}

#error-text {
   margin: 3rem;
}

#error-text h3{
   font-size: 3rem;
   color: rgb(240, 240, 240);
   font-weight: 700;
   margin-bottom: 3rem;
}

#error-text h4 {
   margin-top: 1rem;
   margin-bottom: 2rem;
   font-size: 2rem;
}

#error-text p {
   line-height: normal;
}

#error-text a {
   color: #f7b72ed6;
}

#x {
   height: 100px;
   text-decoration: none;
   margin-left: 3rem;
   margin-bottom: -2rem;
}


 /* ---team members--- */


#meet-the-team {
    height: 6.25rem;
    width: 31.25rem;
    border-radius: 1rem;
    font-size: 2rem;
    text-align: center;
    justify-items: center;
    padding: 1.875rem 1.875rem 1.875rem 1.875rem;
    margin-top: 5rem;
    margin-bottom: 3.125rem;
    margin-left: auto;
    margin-right: auto;
 }

.gallery-wrapper {
   display: flex;
 }

.gallery-item {
   position: relative;
   isolation: isolate;

   display: flex;
   flex: 1;
   height: 31.25rem;

   background-color: #000;
   padding: 1.5625rem;
   opacity: 1;
   overflow: hidden;
   transition: flex .5s, opacity 0.25s;

   width: 100%;
   height: 100%;
}

.gallery-item:hover {
   opacity: 1;
   flex: 3;
}

.gallery-item:not(:hover){
   opacity: 0.75;
 }

 .item-image {
   position: absolute;
   top: 0;
   right: 0;
   z-index: -1;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }


#team-desc {
    color: #78150D;
    display: flex;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    margin-top: 1.25rem;
    margin-bottom: 6.25rem;
    padding: 0 3.125rem 0 3.125rem;
 }



 .item-description {
   align-self: flex-end;
   text-transform: uppercase;
   color: #fff;
 }

 .name {
   font-size: 2.3125rem;
   background: linear-gradient(90deg,#f32d5b,#ff009b);
   padding-inline: 0.625rem;
   transform: translateY(-0.625rem);
 }

 .role {
   display: inline-block;
   background: linear-gradient(90deg,#4136d9,#0086c7);
   padding: 0.625rem;
   box-shadow: 0 0.0625rem 0.625rem rgba(0, 0, 0, 0.2);
   transform: translateY(0.625rem);
 }

 .name,
 .role {
   opacity: 0;
   transition: opacity 0.25s, transform 0.3s;
   transition-delay: .35s;
 }

 .gallery-item:hover .name,
 .gallery-item:hover .role {
   opacity: 1;
   transform: translateY(0);
 }

 .gallery-item:not(:hover) .name,
 .gallery-item:not(:hover) .role {
   transition-delay: 0s;
 }

 .gallery-wrapper{
   flex-direction: column;
   height: 100vh;
 }
 
 .gallery-item:hover {
   flex-basis: 100%;
 }


 #banner-divider{
    height: 12rem;
    margin-top: 12.5rem;
 }
 
 
 

 #inspi-quote {
   color: #78150D;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: italic;
   font-size: 1.5rem;
   text-align: center;
   height: 25rem;
   padding: 2rem;
   padding-top: 0;
}

#inspi-quote span {
  font-size: 40px;
}

 /* ======================== */

 .lightbox { 
   width: 100vw; 
   height: 100vh; 

   position: absolute;
   top: 0;
   left: 0;

   background-color: rgba(0, 0, 0, 0.85);
   background-repeat: no-repeat;

   background-size: 55vh; 
   background-position: 2.5rem bottom;

   z-index: 5000;

   display: none;   
   margin-top: 1.25rem;
}


.lightbox_close {
   position: relative;
   top: 1.25rem;
   left: 85%;

   color: white;
   font-size: 3em;

   text-decoration: none;

   font-weight: bolder;
   z-index: 5002;
}

.lightbox_close:hover { color: #F7B92E; }


.lightbox article {
   width: 55%;
   margin-left: 40%;
   padding-top: 3.125rem;

   color: #fff;

   margin-top: 1.25rem;
}

.lb_text, .lb_text2, .lb_heading { text-align: left; }

.lb_text, .lb_text2 {
   font-family: Helvetica, sans-serif;
   font-style: italic;
   font-weight: 300;
   line-height: 1.6 !important;
   margin-left: 0;
   padding-top: 2em;
   font-size: 1.25rem;
}

.lb_heading {
   font-size: 2rem;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block; }



/* 12. ---Tablet Queries--- */

@media screen and (min-width: 48rem) { 

   html {
      font-size: 115%;
   }

   header {
         background-color: #ffffff;
         /* height: 4.6875rem; */
   }

   #main-logo {
         height: 8rem;
         width: 9rem;
   }


   #hero-img1 {
      /* width: 48rem; */
      height: 54rem;
   }


   #hero-img2 {
      /* width: 48rem; */
      height: 54rem;
   }

   #hero-text {
         height: 11.875rem;

         justify-content: center;
         display: inline-block;

         padding-right: 6.25rem;
         padding-left: 6.25rem;
   }

   #hero-text h4 {margin-top: 0;}

   #hero-text h4 span{
      display: block;
      margin: 1.25rem;

   }
   
   
   #vid-playback {
   max-width: 100%;
   object-fit: cover;
   margin-top: 4.375rem;
   justify-self: center;
   overflow: hidden;
   }
   
   #video-text {
         height: 5.3125rem;
         margin-top: 3.125rem;
         padding: 3.125rem;
   }
   
   #about-us-t-box {
   height: 11.25rem;
   margin-top: 3.125rem;
   }

   /* product slider */

   #product-text {
      margin-bottom: 3rem;
   }

   .slider-card {
      width: 50vw; 
   }


   .slider-card img {
      width: 25vw;
   }

   .mb-slider h5 {
      font-size: 3vw;
   }

   .arrow {
      top: 66vh;
   }



   
   #promo {
         margin-top: 4.375rem;
   } 

   #promo-text {
      font-size: 2.8rem;
   }
   
   .promo-n {
         display: inline-block;
         justify-content: space-evenly;
   }
   
   #promo-number {
         justify-self: center;
   }
   
   
   
   #closing {
         margin-bottom: 6.25rem;
   }

   

   #cl-img-1 {
         justify-self: end;
   }
   #cl-img-2 {
         z-index: 2;
         margin-top: -1.875rem;
         justify-self: start;
   }
   
   #closing-text {
         margin-top: 4.6875rem;
         height: 6.25rem;
   }
   
   
   footer {
         height: 41.25rem;
   }
   
   /* #footer-logo {
         width: 14.375rem;
         height: 10.625rem;
   
         margin-top: 4.375rem;

         display: flex;

         justify-self: center;
   } */
   
   #contact-form {
      display: block;
      grid-row: 2/3;
      margin-top: 0;
   }
   

   #contact-form input {
      width: 21rem;
   }


   /* story page */

   .title {
      margin-top: 7rem;
   }

   #st-img-2 {
      margin-top: 5rem;
   }
   
   #st-img-4 {
      margin-top: 3rem;
   }
   
   #st-2 {
      margin-top: -4rem;
   }
   
   #st-3 {
      margin-top: -4rem;
   }

   #error-text {
      margin: 5rem;
   }
}





/* 12. ---Desktop Queries --- */

@media screen and (min-width: 75rem) { 

   html {
      font-size: 130%;
   }


   header {
         background-color: #ffffff;
         height: 4.375rem;
   }


   #main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.25rem;
      justify-content: center;
   }

   #main-nav {
      top: 1rem;
      
      align-items: flex-start;

      z-index: 1;
      flex: 1;

      font-size: 1.2rem;
   }


   #button {display: none;}

   
   #burger-con {
      display: block;
      font-size: 0.5rem;
      justify-self: center;
      margin-top: 1.4rem;
      margin-bottom: 0rem;
   }

   #burger-con ul li {
      display: inline;
      margin-right: 3.5rem;
   }

   #main-nav ul {
      margin: 0;
      margin-top: 0.625rem;
      display: inline-flex;

   }

   #main-nav ul li a {
      display: inline;
      color: #110F3D;
      margin-right: 1.5rem;
      padding-bottom: 0rem;
      padding-right: 0.625rem;
      padding-left: 0.625rem;

      font-size: 1.2rem;
   }


   #main-nav ul li a:hover {
      border-bottom: solid 0.1875rem #F7B92E ;
      color: #F7B92E;

      transition: all .3s ease-in-out;
   }

/* 
   nav.fill ul li a {
  position: relative;
   }

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 0.0625rem;
}


nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

   /* Keyframes */
/* @-webkit-keyframes fill {
   0% {
     width: 0%;
     height: 0.0625rem;
   }
   50% {
     width: 100%;
     height: 0.0625rem;
   }
   100% {
     width: 100%;
     height: 100%;
     background: #333;
   }
 } */ 

   #burger-con ul li:nth-child(4) {
      margin-left: 6.5rem;
   }

   #burger-con ul li:last-child {
      margin-right: 0;
   }


   #burger-con.slide-toggle {
      height: auto;
      width: auto;
      background: none;
      z-index: auto;

      position: static;
   }



   #main-logo {
      height: 8rem;
      width: 9rem;
      margin-left: 1.875rem;

      z-index: 3;

      margin-top: 6rem;
      order: -1;
   }



   

   #hero-img1 {
         width: 37.5rem;
         height: 42.1875rem;
         margin: 0;
         margin-right: -0.9375rem;
         /* overflow: hidden; */
         object-fit: cover;
         grid-column: 1/6;
   }
   #hero-img2 {
      width: 37.5rem;
      height: 42.1875rem;
         margin: 0;
         margin-left: -0.7rem;
         grid-column: 7/-1;
   }

   #hero-text {
         height: 13rem;
         background-color: #F7B92E;
         display: flex;
   }

   #hero-text h4 {
      text-align: center;
   }
   


    /* 4. ---Video--- */
   
   #vid-playback {
   padding: 0;
   margin: 6.25rem 0 0 0;
   object-fit: cover;
   }

   #video-text p{
      padding-bottom: 5rem;
   }


   
    /* 5. ---About us--- */
   #about-img {
      margin: 0 auto;
   }
   
   #about-us-t-box {
         margin-top: 3.75rem;
         padding-bottom: 10rem;
   }




    /* 6. --- Product --- */


    .products {
      margin-right: auto;
      margin-left: auto;
    }

    .slider-card {
      width: 380px;
      padding: 0 auto;
      margin-left: 0rem;
      margin-right: 1rem;
   }

   .slider-card:first-child {
      margin-left: 0.5rem;
   }

   .slider-card img {
      width: 20vw;
   }


   .arrow {display: none;}


   .mb-slider a {
      width: 13vw;
      display: block;
      padding: 0.2rem;
      color: white;
      margin: 2vh auto ;
      border-radius: 1.25rem;
      font-size: 1.2rem;
      text-align: center;
   }

   #promo-text {
      margin-top: 8rem;
   }

   .promo-n {
         margin-top: 9.375rem;

         align-self: center;
   }

   #promo-text2 {
      padding: 0;
      margin-top: 2rem;
   }

   
   #closing {
         margin-bottom: 4.6875rem;
   }

   #banner-t {
         height: 4.375rem;
         margin-top: 6.25rem;
         margin-bottom: 3.125rem;
   }

   
   #closing-text {
      padding: 4rem;
   }
   
   footer {
         height: 41.25rem;
   }
   
   /* #footer-logo {
         width: 14.375rem;
         height: 10.625rem;
   
         margin-top: 4.375rem;
   }
    */
   
   #contact-form {
         /* display: block; */
         margin-top: 12.5rem;
         margin-left: 6.25rem;

         grid-row: 1/3;
   }


#send_footer {
      border-radius: 2.5rem;
      background-color: #fff;
      align-items: center;
      font-style: italic;

      cursor: pointer;
      padding: 0.625rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;

      margin-left: 20rem;
}


#send_footer:hover {
      box-shadow: inset 0rem -3.125rem 0rem 0rem #FFC738;
      transition:all .8s ease;
}

#send_footer span {
      color: #110F40;
      margin: 0.625rem;
}

#info-con {
      color: #fff;
      grid-column: 2/5;
      margin-left: 0.625rem;
}

#info-con h3 {
   margin-top: 0;
}



#sm-icons {
      display: flex;

      grid-column: 2/4;
      margin-left: 0.625rem;
}

#sm-icons img {
      margin-right: 0.625rem;
}

#ver-line {
      grid-column: 2/12;
      border-bottom: solid 0.0625rem #fff;
      
      margin-top: 1.875rem;
      margin-bottom: 1.875rem;
}

#ver-line span {
      color: #fff;
      font-size: 0.9375rem;

      padding-bottom: 1.25rem;
}

#st-3 h4, #st-3 p{
   margin-left: 100px;
   margin-right: 100px;
}


/* team */
.gallery-wrapper{
   flex-direction: row;
   height: 100vh;
}

.gallery-item:hover {
   flex-basis: 20%;
}

.lightbox {
   background-image: url('../images/1-member.png');
   background-size: 40vh; 
   background-position: 30px center;
}

.lightbox_close {
   left: 90%;
}

}


@media screen and (min-width: 120rem) { 

   html {
      font-size: 150%;
   }

   #burger-con ul li {
      margin-left: 5rem;
   }

   #burger-con ul li:first-child {
      margin-left: 1rem;
   }
   
   #hero-img1 {
      width: 960px;
      height: 1080px;
   }

   #hero-img2 {
      width: 960px;
      height: 1080px;
      margin-left: -1.4rem;
   }
   
   #video-text p {
         padding-bottom: 3.125rem;
   }
   
    /* 5. ---About us--- */

   
   #about-us {
      margin-top: 5rem;
   }
   
    /* 6. ---Our story--- */
    /* 7. ---Product content--- */

   .slider-card {
      width: 33%;
      padding: 0 auto;
      margin-left: 1rem;
      margin-right: 0;
   }

   .slider-card img {
      padding: 2rem;
   }
   
   #promo-number {
         justify-self: center;
   }
   

   #contact-form input {
      width: 28rem;
   }
   
   #send_footer {
      margin-top: 3rem;
      font-size: 1.2rem;
   }

   #st-3 {
      height: 70vh;
   }

}